body {
  font-family: Arial;
  text-align: center;
  background: #fdf6ff;
}

h1 {
  color: #b57edc;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 220px;
}

button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background: #b57edc;
  color: white;
  cursor: pointer;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.on { background: green; }
.off { background: red; }